%h2 Thank you for your order

.confirmation
  %p
    We have charged your card
    %span.confirm.charge
      = precede '$' do
        = format_dollars_and_cents @order.total
    for
    %span.confirm.quantity=@order.quantity
    units of
    = succeed ',' do
      %span.confirm.product_name= @order.product_name
    tax and shipping included.
  
  %p
    We have sent a confirmation email to
    %span.confirm.email= @order.email
  
  %p Your order is shipping to:
  
  %p.confirm.address= format_address @order
  
  %p
    If any of this information is incorrect, please email us at
    = mail_to Shackshop::Application.config.help_email, subject: "Order ##{@order.short_code}" do
      #{Shackshop::Application.config.help_email}
    and we will work with you to make sure you get your
    = succeed '.' do
      = @order.product_name
