#product
  .price
    %h3.figure
      ="$#{ format_dollars @product.price }"
      %span.cents= format_cents @product.price
    %h4.note S/H & Tax Incl
  %h2= @product.description
  - unless @product.available?
    %h1.soldout Sold out    


- if @product.available?
  = simple_form_for order do |form|

    #messages
      %noscript
        .alert JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
      - flash.each do |name, msgs|
        - msgs.each do |msg|
          = content_tag :div, msg, class: name

      - if @order.errors.any?
        .alert
          Some required fields are missing or not right. Please correct them.
  
    %fieldset.products
  
      %legend
        Order
    
      .field
        = form.input :quantity, as: :numeric, input_html: { value: 1, min: 1, max: @product.available_count }
  
    %fieldset.shipping
  
      %legend
        Shipping Address
  
      .field
        = form.input :name
    
      .field
        = form.input :address_line1, label: "Address"
    
      .field
        = form.input :address_line2, label: "Suite / Apt", placeholder: '(optional)'
    
      .field
        = form.input :address_city, label: "City"
    
      .field
        = form.input :address_state, label: "State", collection: us_states, prompt: "Select State"
    
      .field
        = form.input :address_zip, label: "ZIP"
      
      .field
        = form.input :email

    %fieldset.credit_card
  
      %legend Credit Card
  
      .field
        .input.card_number
          = label_tag :card_number, "Card Number"
          = text_field_tag :card_number, nil, name: nil, :size => 20
    
      .field
        .input.cvc
          = label_tag :cvc, "CVC"
          = text_field_tag :cvc, nil, name: nil, :size => 4
    
      .field
        .input.expiration
          = label_tag :expiration_month, "Card Expiration"
          = select_month Date.today, {add_month_numbers_true: true, use_month_names: (1..12).map{ |i| "0#{i}"[-2,2] }}, {name: nil, id: "expiration_month"}
          = select_year Date.today, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "expiration_year"}

    = form.hidden_field :stripe_token, id: 'stripe_token'
        
    .field
      = form.submit "Place Order"
