This email confirms your purchase of <%= @order.quantity %> units of <%= @product.name %> for $<%= format_dollars_and_cents(@order.total) %> from <%= Shackshop::Application.config.shop_name %>. You will receive another email when your order has shipped.

If any of this information is incorrect, please reply to this email and we will straighten it out.