Your order of <%= @order.quantity %> units of <%= @product.name %> has shipped. <% if @order.tracking_number && @order.shipping_method %> Your <%= @order.shipping_method %> tracking number is <%= @order.tracking_number %>. <% else %> It should arrive within the week. <% end %>

If you have any questions, please feel free to reply to this email.