// OMS brand overrides

body
  margin: 2em auto

h1.shop_title
  text-indent: -1000px
  background-image: image-url('brand/oregon.png')
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  width: 100%
  height: 105px

h1, h2, input[type=submit]
  text-transform: uppercase
h2
  font-weight: bold

.simmer
  background: white
  color: black
  span
    border-color: black

.price
  @extend .burst-12

.soldout
  background: white
  width: 70%
  color: black
  text-align: center
  padding: 1em
  margin: 1em auto
  -webkit-transform: rotate(-2deg)
  -moz-transform: rotate(-2deg)
  -ms-transform: rotate(-2deg)
  -o-transform: rotate(-2deg)