// Shackshop defaults

$body_background: white
$body_alert_background: white
$color_primary: black
$price_rotation: 0deg
$color_price: white
$color_price_background: green
$color_alert_price: gray
$color_alert_price_background: white
$color_message: black
$color_message_background: lightgray
$color_alert: black
$color_alert_background: #FF9999
$color_input_background: white
$color_input_border: black
$color_button: white
$color_button_background: green
$color_label: black
$fieldset_border_width: 1px
$fieldset_border_color: black

@import "brand_variables"

.clearfix
  zoom: 1
  &:before, &:after
    content: "\0020"
    display: block
    height: 0
    overflow: hidden
  &:after
    clear: both

body
  -webkit-font-smoothing: antialiased
  font-size: 12px
  background: $body_background
  background-size: cover
  background-attachment: fixed
  width: 400px
  margin: 1em auto

body.alert
  background: $body_alert_background
  background-size: cover
  background-attachment: fixed
  .price
    background: $color_alert_price_background
    color: $color_alert_price
    z-index: -1
    span
      border-bottom: 2px solid $color_alert_price
    &:after, &:before
      background-color: $color_alert_price_background

h1, h2, h3, h4
  margin: 0

h1
  color: $color_primary
  font-size: 400%
  line-height: 48px

h2
  margin: 12px 0
  font-size: 18px
  line-height: 22px
  font-weight: normal

h2
  color: $color_primary
  width: 100%

.price
  display: inline
  float: right
  margin: 0 0 1em 2em
  box-sizing: border-box
  background: $color_price_background
  color: $color_price

#messages
  clear: both
  margin: 1em 0
  div
    padding: 0.5em 1em
    margin: 0 0 1em
    font-size: 12px
    line-height: 18px
    background: $color_message_background
    color: $color_message
    &.alert
      background: $color_alert_background
      color: $color_alert

$size: 8em

.price
  text-transform: uppercase
  padding-top: ($size - 4em)/2
  width: $size
  height: $size
  -webkit-transform: rotate($price_rotation)
  -moz-transform: rotate($price_rotation)
  -ms-transform: rotate($price_rotation)
  -o-transform: rotate($price_rotation)
  h3.figure
    font-size: 36px
    line-height: 36px
    text-align: center
  span
    position: relative
    top: -14px
    left: -0.25em
    font-size:   18px
    line-height: 18px
    border-bottom: 2px solid $color_price
  .note
    font-size: 12px
    text-align: center
  &:after, &:before
    background-color: $color_price_background

.price.burst-12
  position: relative

.price.burst-12:before, .price.burst-12:after
  content: ""
  position: absolute
  top: 0
  left: 0
  height: 8em
  width: 8em
  z-index: -1

.price.burst-12:before
  -webkit-transform: rotate(30deg)
  -moz-transform: rotate(30deg)
  -ms-transform: rotate(30deg)
  -o-transform: rotate(30deg)

.price.burst-12:after
  -webkit-transform: rotate(60deg)
  -moz-transform: rotate(60deg)
  -ms-transform: rotate(60deg)
  -o-transform: rotate(60deg)

.price.circle
  $size: $size + 2em
  padding-top: ($size - 4em)/2
  width: $size
  height: $size
  border-radius: ($size)/2

form
  margin-bottom: 2em

label
  color: $color_label
  display: inline-block
  width: 8em

fieldset
  margin: 0 0 12px
  padding: 0px 0.5em 0px
  border: $fieldset_border_width solid $fieldset_border_color
  padding-top:    12px - ($fieldset_border_width*2)
  padding-bottom: 13px// 0 - $fieldset_border_width

legend
  color: $color_label
  font-size: 12px
  line-height: 12px
  // background: red
  margin-top: 0
  margin-bottom: 0
  -webkit-padding-start: $fieldset_border_width*2
  -webkit-padding-end:   $fieldset_border_width*2

.field
  margin: 0px
  margin-bottom: 12px
  padding-left: 0.125em
  height: 24px
  &:last-child
    margin-bottom: 0
  .error
    position: relative
    color: $color_alert
    &:before
      position: relative
      display: inline-block
      box-sizing: border-box
      font-weight: bold
      content: "!"
      background: $color_alert_background
      font-weight: bold
      text-align: center
      border-radius: 1em
      width:  2em
      height: 2em
      margin: 0 0.5em
      line-height: 2em
      
      

label
  line-height: 24px

select
  margin-top: 2px

.shipping select
  margin-right: 2.7em

input[type=text], input[type=email], input[type=number]
  height: 22px
  border: 0
  padding-left: 0.5em
  background: $color_input_background
  border: 1px solid $color_input_border

input[type=submit]
  font-size: 150%
  line-height: 100%
  border: 0
  padding: 0.5em
  font-weight: bold
  color: $color_button
  background: $color_button_background

.confirmation
  background: white
  color: black
  padding: 0.25em 1em
  .confirm
    font-weight: bold
  .address
    margin-left: 1em

.site-error
  margin-top: 1em
  color: $color_primary

@import "brand_overrides"