<!DOCTYPE html>
<html>
<head>
  <title><%= Shackshop::Application.config.shop_name || "Shackshop" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application", "data-turbolinks-track" => true %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" href="/touch-icon.png" />
  <meta name = "viewport" content = "width = 450">
  <meta name="apple-mobile-web-app-title" content="Oregon">
</head>
<body <%= raw "class='#{@body_class}'" if @body_class %>>
  <h1 class="shop_title"><%= Shackshop::Application.config.shop_title || "Shackshop"%></h1>
  <%= yield %>
  <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-30177808-1']);_gaq.push(['_setDomainName', 'oregonmarshmallowsticks.biz']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
</body>
</html>